In [1]:
import pandas as pd

In [2]:
movie = pd.read_csv("./dataset/movie.csv")

In [3]:
movie.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movie.shape

(27278, 3)

In [5]:
movie.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [6]:
movie = movie.loc[ : , ['movieId','title']]

In [7]:
movie.head(15)

    movieId                               title
0         1                    Toy Story (1995)
1         2                      Jumanji (1995)
2         3             Grumpier Old Men (1995)
3         4            Waiting to Exhale (1995)
4         5  Father of the Bride Part II (1995)
5         6                         Heat (1995)
6         7                      Sabrina (1995)
7         8                 Tom and Huck (1995)
8         9                 Sudden Death (1995)
9        10                    GoldenEye (1995)
10       11      American President, The (1995)
11       12  Dracula: Dead and Loving It (1995)
12       13                        Balto (1995)
13       14                        Nixon (1995)
14       15             Cutthroat Island (1995)

In [8]:
user = pd.read_csv('./dataset/rating.csv')

In [9]:
user.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [10]:
user = user.loc[ : , ['userId', 'movieId', 'rating']]

In [11]:
user.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [12]:
data = pd.merge(movie ,user)

In [13]:
data.columns

Index(['movieId', 'title', 'userId', 'rating'], dtype='object')

In [14]:
data.head(10)

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5
5        1  Toy Story (1995)      12     4.0
6        1  Toy Story (1995)      13     4.0
7        1  Toy Story (1995)      14     4.5
8        1  Toy Story (1995)      16     3.0
9        1  Toy Story (1995)      19     5.0

In [15]:
data.shape

(1048575, 4)

In [22]:
data = data.iloc[:1000,:]

In [23]:
pivot_table = data.pivot_table(index=["userId"],columns=["title"],values = "rating")

In [24]:
pivot_table.head(10)

title   Toy Story (1995)
userId
3                    4.0
6                    5.0
8                    4.0
10                   4.0
11                   4.5
12                   4.0
13                   4.0
14                   4.5
16                   3.0
19                   5.0

In [25]:
movie_watched = pivot_table["Bad Boys (1995)"]
similarity_with_other_movies = pivot_table.corrwith(movie_watched)  
similarity_with_other_movies = similarity_with_other_movies.sort_values(ascending=False)
similarity_with_other_movies.head(100)

KeyError: 'Bad Boys (1995)'